/*CSS PARA TELA PRINCIPAL*/
* {
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
}

body {
	margin: 10px 25px auto 25px;
}

#header {
	border-bottom: solid 1px black;
}

#header>#logo {
	margin-bottom: 0px;
}

#header>#title {
	font-family: Verdana;
	font-size: 2em;
}

div#errorLogin{
	height: 25px;
	color: red;
}

.login {
	font-size: 14px;
	float: right;
	margin-top: -85px;
}

form.login input[type="text"], form.login input[type="password"] {
	width: 200px;
	height: 20px;
	padding: 2px;
	border: 1px solid green;
	border-radius: 5px;
}

form.login input[type="submit"], form.login input[type="button"] {
	height: 25px;
	padding: 2px;
	border: 1px solid #cccccc;
	background-color: green;
	color: #ffffff;
	cursor: pointer;
}

#div_menu {
	margin-top: 10px;
	float: left;
}

#content {
	font-size:14px;
	width: 100%;
}

#content>div {
	display: table;
	margin: 10px auto;
}

#footer {
	font-style: italic;
	font-size: 14px;
	position: absolute;
	bottom: 10px;
	width: 96%;
	border-top: solid 1px black;
}

/*CSS PARA LISTAGEM*/
.lista {
	font-size: 14px;
	width: 700px;
}

.lista th {
	border: 1px solid black;
}

.lista td {
	border: 1px solid black;
}

.lista a {
	text-decoration: none;
	color: green
}

.lista tr:nth-child(odd) {
	background: lightgray;
}

.lista a.finaliza {
	color: red;
}

.lista th.acoes, th.pessoa {
	width: 100px;
}

.lista td.center{
	text-align: center
}

form.formulario	input[type="text"], form.formulario input[type="password"]
	{
	width: 250px;
	height: 25px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

form.formulario select {
	width: 250px;
	height: 35px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

form.formulario textarea {
	padding: 5px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

form.formulario input[type="submit"], form.formulario input[type="button"]
	{
	height: 35px;
	padding: 4px;
	min-width: 100px;
	border: 1px solid #cccccc;
	background-color: green;
	color: #ffffff;
	cursor: pointer;
	display: table-cell;
	float: right;
}

form.formulario fieldset {
	padding:5px;
	border: 1px solid green;
	border-radius: 5px;
}

form.formulario legend {
	font-size: 16px;
	font-weight: bold;
	padding:5px;
}

